body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  flex: 0 1 auto;
}

h1 {
  padding-left: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08rem;
  text-align: left;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

img {
  width: 540px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: monospace;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;
  max-width: 580px;
  color: #333333;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
  max-width: 380px;
  color: #4f4f4f;
}

button {
  width: 216px;
  height: 68px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

footer {
  flex: 0 1 40px;
}
