body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 0 1 auto;
}

h1 {
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08rem;
  text-align: left;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 540px;
  height: auto;
}

footer {
  flex: 0 1 40px;
}
